---
import { Icon } from "astro-icon/components";
import ContentSection from "~/components/content-section.astro";

export interface Props {
  title: string;
  leadHtml: string;
  ctas: {
    docs: string;
    try: string;
  };
}

const { title, leadHtml, ctas } = Astro.props;
---

<ContentSection title={title} id="intro">
  <img
    slot="eyebrow"
    src="/svg/og-image.png"
    alt=""
    class="size-32 object-contain"
    width="128"
    height="128"
    decoding="async"
  />
  <div slot="lead" class="contents" set:html={leadHtml} />
  <div class="grid grid-cols-1 gap-2 sm:grid-cols-2">
    <a
      href="https://docs.astro.build/"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon name="mdi:telescope" class="size-8" />
      <span>{ctas.docs}</span>
    </a>
    <a
      href="https://astro.new/"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon name="mdi:rocket" class="size-8" />
      <span>{ctas.try}</span>
    </a>
  </div>
</ContentSection>
