---
import { getCollection } from "astro:content";
import ContentSection from "~/components/content-section.astro";
import ShowcaseCard from "~/components/showcase-card.astro";

const featuredSites = await getCollection(
  "showcase",
  ({ data }) => "featured" in data,
);
const orderedSites = featuredSites.sort(
  (a, b) => a.data.featured! - b.data.featured!,
);

export interface Props {
  title: string;
  leadHtml: string;
  more: string;
}

const { title, leadHtml, more } = Astro.props;
---

<ContentSection title={title} id="showcase">
  <div slot="lead" class="contents" set:html={leadHtml} />
  <div class="max-w-6xl space-y-2">
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">
      {orderedSites.map((site) => <ShowcaseCard site={site} />)}
    </div>
    <p class="text-right text-sm">
      <a class="text-primary" href="https://skydimo.com/showcase/">
        {more}
      </a>
    </p>
  </div>
</ContentSection>
